  <div id="background">
        <header class="cf">
           <div class="wrapper_wide">
             <a href="#" id="logo">PodCast.fm</a>
            <nav>
              <ul>
                 <li><%= link_to "Descubre", podcasts_path %></li>
                 <li><%= link_to "Iniciar Sesion", new_podcast_session_path %></li>
                 <li><%= link_to "Crear Podcast", new_podcast_registration_path %></li>
             </ul>
            </nav>
           </div>
        </header>
        <div class="wrapper_skinny">
           <h1>Descubre tu nuevo postcast favorito, รณ crea uno</h1>
           <%= link_to "Crear un Podcast", new_podcast_registration_path, class: "button button_highlight"%>
           <%= link_to "Descubre", podcasts_path, class: "button button_white" %>
        </div>
    </div>
